* {
    margin: 0;
    padding: 0;
    background-color: rgb(21, 199, 244);
}

.grid {
    display: grid;

    grid-template-areas:
        "block1 block2 block2"
        "block1 block2 block2"
        "block1 block3 block4"
        "block5 block5 block4";
    gap: 10px;
    height: 450px;
    width: 450px;
    transform: rotate(45deg);
    margin: 110px auto;
    animation: rotation 1s;
    animation-iteration-count: infinite;

    animation-timing-function: linear;
    transition: 1s;

}

.child1 {
    grid-area: block1;
    background-color: rgb(67, 65, 65);
    text-align: center;
    color: white;
}

.child2 {
    grid-area: block2;
    background-color: rgb(67, 65, 65);
    text-align: center;
    color: white;

}

.child3 {
    grid-area: block3;
    background-color: rgb(67, 65, 65);
    text-align: center;
    color: white;
}

.child4 {
    grid-area: block4;
    background-color: rgb(67, 65, 65);
    text-align: center;
    color: white;
}

.child5 {
    grid-area: block5;
    background-color: rgb(67, 65, 65);
    text-align: center;
    color: white;
}



@media (min-width:200px) and (max-width:900px) {



    @keyframes rotation {
        0% {
            transform: rotate(90deg);
        }

        100% {
            transform: rotate(360deg);
        }

    }

}