* {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "headerr headerr headerr headerr"
        "sidenav maincontent maincontent sidebar"
        "sidenav maincontent maincontent sidebar"
        "sidenav maincontent maincontent sidebar"
        "sidenav maincontent maincontent sidebar"

        "sidenav maincontent maincontent sidebar"
        "foot foot foot foot";

    gap: 7px 5px;

}

header {
    background-color: rgb(111, 111, 240);
    grid-area: headerr;
    text-align: center;
    padding-top: 30px;
    color: white;

}

nav {
    background-color: rgb(205, 119, 66);
    grid-area: sidenav;
    text-align: center;
    color: white;
    padding-top: 30px;
}

article {
    background-color: rgb(205, 119, 66);
    grid-area: sidebar;
    text-align: center;
    color: white;
    padding-top: 30px;
}

main {
    background-color: rgb(105, 225, 65);
    grid-area: maincontent;
    text-align: center;
    color: white;
    padding-top: 30px;
}

footer {
    background-color: rgb(111, 111, 240);
    grid-area: foot;
    text-align: center;
    color: white;
    padding-top: 50px;
}


@media (max-width:700px) {
    section {

        grid-template-areas:
            "headerr headerr headerr headerr"
            "headerr headerr headerr headerr"
            "sidenav sidenav sidenav sidenav"
            "sidenav sidenav sidenav sidenav"

            "maincontent maincontent maincontent maincontent"
            "maincontent maincontent maincontent maincontent"
            "sidebar sidebar sidebar sidebar"

            "sidebar sidebar sidebar sidebar"
            "foot foot foot foot"
            "foot foot foot foot";


    }



}