.navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(240, 232, 232);
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;

}

.navbar>div {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

.textboxes {
    display: flex;
    flex: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;



}

.textbox1,
.textbox2 {
    border: 3px solid black;
    width: 50%;
    height: 200px;



}

.textbox1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.textbox2 {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

footer {
    background-color: rgb(236, 227, 227);
    text-align: center;
    font-size: 18px;
}

p {
    text-align: center;
    justify-content: center;
    font-size: 18px;
}


@media (max-width:700px) {
    .navbar {

        flex-direction: column;
        height: auto;
        justify-content: space-around;
        gap: 10px;

    }

    .textboxes {
        flex-direction: column;


    }

    .textbox1,
    .textbox2 {
        height: auto;
    }

}