.item {
    border: 2px solid rgb(186, 203, 55);
    width: 100px;
    height: 50px;

}

.container {

    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 500px;
    margin: 25px auto;
}